.emi-card {
    background: #E9F7EE;

    .p-card-content {
        padding: 0 !important;
    }
}

.emi-card-content {
    border-radius: 150px;
    background: #ffffff;
    width: 150px;
    height: 150px;
}